header {
     background-color: #FFFFFF;
     height: 70px;
     width: 100%;
     border-bottom: 1px solid #CCCCCC;
     position: relative;
}

.logo {
     background-image: url("../images/logo.png");
     background-repeat: no-repeat;
     background-position: center;
     height: 70px;
     width: 142px;
     position: absolute;
     left: 20px;
     top: 0;
}
